.profile-container {
    display: flex;
    max-width: 1000px;
    min-height: calc(100vh - 190px);
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-links {
    width: 30%; /* Adjust the width as needed */
    padding: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-links .profile-link {
    width: 70%;
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    outline: none;
    border: none;
}

.profile-links .profile-link:hover {
    background-color: #45a049;
}

.profile-info {
    width: 70%; /* Adjust the width as needed */
    padding: 20px;
}

.profile-detail {
    margin-bottom: 10px;
}
